out
node_modules
.vscode-test/
*.vsix
.github/copilot/config.yml
.github/copilot/project_activity_log.md
.vscode-test-web
web-extensions.md
.docs
dist/**
.vscode/.ei18n-editor-config.json
*.bak
todo.yml
