.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.github/**
demo/**
vsc-extension-quickstart.md
**/tsconfig.json
**/tsconfig.web.json
**/.eslintrc.json
**/*.map
**/*.ts
webpack.config.js
node_modules/**
_src/**

vsix/**